body{
background-color: #073763ff;
width:300px;}
img{width:300px;
margin:0 auto;}

button{margin:5px;
padding:25px}

h1 {
    color: #62cff4ff;
  }

  p {
    color: #62cff4ff;
}

button {
    color: #f97f00;
}